/* main css */
body{
    font-family:'Montserrat';
    background-color: #2c6c98;
    background-repeat: repeat repeat;
    background-image: url(../img/back.png);
    background-attachment: fixed;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.mainlogo{
	position: relative;
	margin-bottom: 10px;
}
.cpointer{
    cursor: pointer;
}
.container {
    margin-top: 60px;
}
.nav-tabs {
    margin: 10px 10px 0 10px;
}
.nav-tabs a{
    font-size: 13px;
    font-weight: bold;
}
.tab-content{
    margin: 0 10px 10px 10px;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
.f-title{font-family:'Montserrat';font-weight:normal;}
.f-normal{font-family:'Raleway';font-weight:normal;}
.f-bold{font-weight:bold;}
.aws-link{
    text-decoration: underline;
    font-weight: bold;
    margin-left: 10px;
    color: #1f92e0!important;
}
#gallery .col-lg-12{
    padding: 10px 40px 10px 20px;
}
.bucket-img{
    display: inline-block;
    width: 20%;
    height: 140px;
    overflow: hidden;
    padding: 4px;
    margin: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.bucket-img img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    border-radius: 6px;
}
@font-face {
    font-family: 'Montserrat';
    src: url('Montserrat-Regular.otf');
}
@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Regular.otf');
}
/*** Media queries ***/
@media (max-width: 800px) {
    .bucket-img{
        width: 100%;
        height: 140px;
    }
    #gallery .col-lg-12{
        padding: 10px 40px 10px 20px;
    }
}